@model List<WelcomeNews>

@{
    ViewData["Title"] = "Home Page";
}
<h1 class="text-white">@ViewData["Title"]</h1>

<style>
    @*css for multicoloured news box*@
    #dataBox {
        background: rgb(2,234,255);
        background: linear-gradient(9deg, rgba(2,234,255,1) 0%, rgba(255,110,255,1) 45%, rgba(255,182,74,1) 81%);
    }
</style>

<body style="background-color: #181818;">
    <div class="album py-2 bg-dark">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var a in Model)
                {
                    <div class="col-6 mt-2" id="itemBox">
                        <a href="@a.url" target="_blank">
                            <div class="h-100 card shadow-sm" id="dataBox">
                                <img src="@a.image" class="img-thumbnail m-3" alt="News Article Photo" />
                                <div class="card-body">
                                    <p class="card-text"> @a.title</p>
                                    <small class="text-muted ml-1">@a.source</small>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="flex">
        <p> Count: @Model.Count()</p>
    </div>

    <footer class="text-muted py-2">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>

</body>