@model List<WelcomeNews>

@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<style>
    @* Working set a highlighted border on hover with rounded corners *@ 

    @*#newsBox:hover {
        border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
        border-width: 4px;
        border-style: solid;
        border-radius: 5 px;
    }*@

    #newsBox {
        position: relative;
        display: inline-block;
        background-image: linear-gradient(291deg, #ffb37c, #f9514f);
        padding: 0 20px;
        line-height: 30px;
        text-align: center;
        color: #485564;
        border-radius: 6px;
        overflow: hidden;
        font-size: 14px;
        font-weight: 600;
        z-index: 0;
    }

    #newsBox:before {
        content: '';
        position: absolute;
        /* specify the value of border width here */
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        /* --- */
        background-color: #fff;
        border-radius: 5px;
        box-sizing: border-box;
        z-index: -1;
    }

    #newsBox:hover {
        opacity: 1;
    }


</style>

<body>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var a in Model)
                {
                <div class="col-6 mt-2">
                    <a href="@a.url" target="_blank">
                        <div class="h-100 card shadow-sm" id="newsBox">
                            <img src="@a.image" class="img-thumbnail mt-3" alt="News Article Photo" />
                            <div class="card-body">
                                <p class="card-text"> @a.title</p>
                                <small class="text-muted ml-1">@a.source</small>
                            </div>
                        </div>
                    </a>
                </div>
                }

            </div>
        </div>
    </div>

    <div class="flex">
        <p> Count: @Model.Count()</p>
    </div>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>

</body>