@model List<ViewAlbum>

@{
    ViewData["Title"] = "My Collection";
}
<h1>@ViewData["Title"]</h1>

<div class="flex">
    <button class="btn btn-success" onclick="location.href='@Url.Action("Add", "Collection")';
    return false;" style="margin-left: auto;">
        Add Record To Collection
    </button>
</div>

<div class="flex">
    <div class="input-group rounded m-2 pr-2">
        <input type="search" class="form-control rounded" id="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-default mx-2" style="background-color: lightgray">
            <span class="glyphicon
                glyphicon-search"></span> Search
        </button>
    </div>
</div>

<body>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var a in Model)
                {
                    <div class="albums col" id="individualAlbum" data-name="@a.Name" data-artist="@a.Artist" data-genre="@a.Genre" data-year="@a.ReleaseYear">
                        <div class="card shadow-sm">
                            <img src="@a.AlbumThumb" class="p-2" alt="Album Artwork">
                            <div class="card-body">
                                <p class="card-text">@a.Name, @a.Artist </p>
                                <p class="card-text">Genre: @a.Genre</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='@Url.Action("ViewAlbum", "Collection", new { albumId = a.AlbumId })'">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-danger" onclick="location.href='@Url.Action("DeleteAlbum", "Collection", new { albumId = a.AlbumId })'">Delete</button>
                                    </div>
                                    <small class="text-muted ml-1">@a.ReleaseYear</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>

    <script>
        $("#search").keyup(function ()
        {
            filterAlbums();
        });

        function filterAlbums() {
            // Sets search value to a variable
            var search = $("#search").val();

            // Gets the data in the album class and hides all the elements
            $(".albums").hide();

            // Sets variable albums equal to all the albums that equal the function using the filter method.
            $(".albums").filter(function () {
                // Check to see if artist, name, genre or year match the search criteria and sets the album to show if true
               if ($(this).attr("data-artist").toLowerCase().includes(search.toLowerCase()) ||
                    $(this).attr("data-name").toLowerCase().includes(search.toLowerCase()) ||
                    $(this).attr("data-genre").toLowerCase().includes(search.toLowerCase()) ||
                    $(this).attr("data-year").toLowerCase().includes(search.toLowerCase())) { $(this).show()}                
            });

            // Show all albums in collection if search is empty
            if (!search)
            {
                $(".albums").show();
            };
        };
    </script>

</body>