@model ViewAlbum

@{
    ViewData["Title"] = @Model.Name;
}
<h1>@ViewData["Title"]</h1>

<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
</style>

<body>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col mt-1">
                    <div class="card shadow-sm">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="@Model.AlbumThumb" alt="Album Front Cover">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="@Model.AlbumThumbBack" alt="Album Back Cover">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>


                        <div class="card-body">
                            <p class="card-text">@Model.Name </p>
                            <p class="card-text"> @Model.Artist, @Model.ReleaseYear </p>
                            <p class="card-text"> @Model.Genre, @Model.Mood, @Model.Style </p>
                            <p class="card-text"> Description: <br /> @Model.Description </p>
                            <p class="card-text"> Review: @Model.Score / 10 </p>
                            <p class="card-text"> @Model.Review </p>
                            <div class="d-flex justify-content-between align-items-center">
                                @if (!@Model.SavedToCollection)
                                {
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-success" href="@Url.Action("AddAlbum", "Collection", new { artist = @Model.Artist, albumName = Model.Name })">Add</a>
                                    </div>
                                }
                                <small class="text-muted ml-1">@Model.Label</small>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>